Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

frontend: Make sure all transactions of a transfer are run by the same account
  frontend/src/actions/transfers/request-information.ts
  frontend/src/actions/transfers/transfer.ts
  frontend/src/components/RequestDialog.vue
  frontend/src/composables/useTransferRequest.ts
  frontend/tests/unit/actions/transfers/request-information.spec.ts
  frontend/tests/unit/actions/transfers/transfer.spec.ts
  frontend/tests/unit/composables/useTransferRequest.spec.ts
  frontend/tests/utils/data_generators.ts
Due: frontend-updated

deployments: add test step for npm-package
  .circleci/config.yml
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

deployments: move npm package to separate folder
  Makefile
  deployments-npm-package/.gitignore
  deployments-npm-package/.prettierignore
  deployments-npm-package/.prettierrc.json
  deployments-npm-package/__tests__/test_package.ts
  deployments-npm-package/jest.config.ts
  deployments-npm-package/package.json
  deployments-npm-package/scripts/create-package.sh
  deployments-npm-package/tsconfig.json
  deployments-npm-package/yarn.lock
  deployments/scripts/create-package.sh
Due: backend-updated, deployment-package-json-updated

scripts: implement contract verifier script
  scripts/verify-contracts.py
Due: backend-updated

deployments: add the git-commit-version to package
  .circleci/workflows.yml
  .gitignore
  deployments-npm-package/package.json
  deployments-npm-package/scripts/create-package.sh
Due: backend-updated, relayer-updated, docs-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

fix: solve issue in resolve_constructor_args to support int as arg
  beamer/deploy/util.py
Due: backend-updated

deployments: release v1 of npm package
  deployments-npm-package/package.json
Due: deployment-package-json-updated

fix: allow usint int in messenger args
  beamer/deploy/config.py
Due: backend-updated

deployments: fix missing npm package
  Makefile
Due: backend-updated

deployments: npm package v2.0.0
  deployments-npm-package/package.json
Due: deployment-package-json-updated

beamer: agent: handle LpAdded, LpRemoved, TokenUpdated and FeesUpdated events
  beamer/agent/state_machine.py
Due: backend-updated

beamer: events: add missing events
  beamer/events.py
Due: backend-updated

beamer: deploy: make deploy-base create artifacts dir if it does not exist
  beamer/deploy/commands.py
Due: backend-updated

beamer: deploy: improve typing (int -> BlockNumber)
  beamer/deploy/artifacts.py
  beamer/deploy/util.py
Due: backend-updated

frontend: improve continuation of interrupted transfers
  frontend/src/actions/transfers/allowance-information.ts
  frontend/src/actions/transfers/index.ts
  frontend/src/actions/transfers/request-information.ts
  frontend/src/actions/transfers/transaction-information.ts
  frontend/src/actions/transfers/transfer.ts
  frontend/src/services/transactions/request-manager.ts
  frontend/src/services/transactions/token.ts
  frontend/src/services/web3-provider/ethereum-provider.ts
  frontend/src/services/web3-provider/safe-provider.ts
  frontend/src/services/web3-provider/types.ts
Due: frontend-updated

frontend: add missing tests
  frontend/tests/unit/actions/transfers/allowance-information.spec.ts
  frontend/tests/unit/actions/transfers/request-information.spec.ts
  frontend/tests/unit/actions/transfers/transaction-information.spec.ts
  frontend/tests/unit/actions/transfers/transfer.spec.ts
  frontend/tests/unit/services/web3-provider/ethereum-provider.spec.ts
  frontend/tests/utils/data_generators.ts
  frontend/tests/utils/mocks/ethereum-provider.ts
  frontend/tests/utils/mocks/ethers.ts
Due: frontend-updated

frontend: Use provider when continuing transfers
  frontend/src/App.vue
  frontend/src/actions/transfers/transfer.ts
  frontend/src/composables/useContinueInterruptedTransfers.ts
  frontend/tests/unit/actions/transfers/transfer.spec.ts
  frontend/tests/unit/composables/useContinueInterruptedTransfers.spec.ts
Due: frontend-updated

Update README.md
  frontend/README.md
Due: frontend-updated

Add testnet todos to template
  .github/ISSUE_TEMPLATE/rollup-integration.md
Due: none

chore: update ape-solidity to 0.6.5 to allow ape update
  poetry.lock
  pyproject.toml
Due: backend-updated

fix: use import_remapping for polygon zkevm and fix small typo in messenger
  ape-config.yaml
  contracts/contracts/chains/polygon_zkevm/PolygonZkEVMMessengers.sol
Due: backend-updated

frontend: Upgrade to typescript v5
  frontend/package.json
  frontend/patches/@vuelidate+core+2.0.2.patch
  frontend/tsconfig.json
  frontend/yarn.lock
Due: frontend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
