Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

relayer: use new contract addresses
  relayer/src/services/relayer/arbitrum.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/types.ts
Due: relayer-updated

beamer: relayer: fix the relayer executable path
  beamer/relayer.py
Due: backend-updated

relayer: update ABIs
  relayer/src/assets/abi/FillManager.json
  relayer/src/assets/abi/Resolver.json
Due: relayer-updated

deployments: bump npm package version to `v3.0.0`
  deployments-npm-package/package.json
Due: deployment-package-json-updated

artifacts: mainnet v3
  deployments/artifacts/mainnet/1-ethereum.deployment.json
  deployments/artifacts/mainnet/10-optimism.deployment.json
  deployments/artifacts/mainnet/1101-polygon-zkevm.deployment.json
  deployments/artifacts/mainnet/42161-arbitrum.deployment.json
  deployments/artifacts/mainnet/424-public-goods-network.deployment.json
  deployments/artifacts/mainnet/8453-base.deployment.json
  deployments/artifacts/mainnet/base.deployment.json
Due: deployment-artifacts-updated

.circleci: add a way to manually trigger publishing docs
  .circleci/config.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

fix: change AbiManager to use deploymentBytecode
  beamer/contracts.py
  beamer/deploy/util.py
Due: backend-updated

beamer: relayer: introduce base RelayerError and provide more info
  beamer/relayer.py
Due: backend-updated

beamer: move to use the newly introduced relayer-specific exceptions
  beamer/check/commands.py
  beamer/tests/agent/unit/test_relayer.py
Due: backend-updated

beamer: tests: fix typo
  beamer/tests/agent/unit/test_relayer.py
Due: backend-updated

frontend: warn user on low liquidity
  frontend/package.json
  frontend/src/components/RequestDialog.vue
  frontend/src/components/alerts/LowLiquidityAlert.vue
  frontend/src/composables/useMaxFillableAmount.ts
  frontend/src/composables/useTokenBalance.ts
  frontend/src/composables/useTransferRequest.ts
  frontend/src/utils/agentAddresses.ts
  frontend/src/utils/constants.ts
  frontend/tests/unit/composables/useMaxFillableAmount.spec.ts
  frontend/yarn.lock
Due: frontend-updated

frontend: Add useMaxFillableAmount composable
  frontend/src/components/RequestSourceInputs.vue
  frontend/src/composables/useMaxFillableAmount.ts
  frontend/src/composables/useTokenBalance.ts
  frontend/src/utils/agentAddresses.ts
  frontend/tests/unit/composables/useMaxFillableAmount.spec.ts
Due: frontend-updated

frontend: Allow `useTokenBalance` composable to fetch balance for any address
  frontend/src/components/RequestSourceInputs.vue
  frontend/src/composables/useTokenBalance.ts
  frontend/tests/unit/composables/useTokenBalance.spec.ts
Due: frontend-updated

feat: disable ast in abi files
  scripts/generate-abi.py
Due: backend-updated

beamer: bump v3.0.0 and update changelog
  CHANGELOG.md
  pyproject.toml
Due: backend-updated

deployments: bump npm package version to `v3.0.1`
  deployments-npm-package/package.json
Due: deployment-package-json-updated

contracts: use safeApprove for FeeSub
  contracts/contracts/FeeSub.sol
Due: backend-updated

frontend: enable DAI/USDT/WETH
  frontend/config/tokens/DAI.json
  frontend/config/tokens/USDT.json
  frontend/config/tokens/WETH.json
Due: frontend-updated

fix: Change safeApprove to safeIncreaseAllowance and safeDecreaseAllowance
  contracts/contracts/FeeSub.sol
Due: backend-updated

frontend: enable Base
  frontend/config/chains/8453.json
Due: frontend-updated

frontend: temporary remove feeSub addresses
  frontend/config/chains/1.json
  frontend/config/chains/10.json
  frontend/config/chains/1101.json
  frontend/config/chains/42161.json
Due: frontend-updated

frontend: enable base
  frontend/config/chains/8453.json
  frontend/config/tokens/DAI.json
  frontend/config/tokens/USDC.json
  frontend/config/tokens/WETH.json
Due: frontend-updated

frontend: use v3 contracts
  frontend/package.json
  frontend/yarn.lock
Due: frontend-updated

frontend: filter out unsupported destination tokens
  frontend/src/components/RequestSourceInputs.vue
  frontend/src/composables/useTokenSelection.ts
  frontend/src/utils/arrayFilters.ts
  frontend/tests/unit/composables/useTokenSelection.spec.ts
  frontend/tests/unit/utils/arrayFilters.spec.ts
Due: frontend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
