Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            Makefile backend-updated true
            ape-config.yaml backend-updated true
            poetry.lock backend-updated true
            pyproject.toml backend-updated true
            beamer/.* backend-updated true
            contracts/.* backend-updated true
            docker/.* backend-updated true
            scripts/.* backend-updated true
            relayer/.* relayer-updated true
            docs/.* docs-updated true
            deployments/mainnet/deployment.json docs-updated true
            deployments/artifacts/.* deployment-artifacts-updated true
            deployments-npm-package/package.json deployment-package-json-updated true
            frontend/.* frontend-updated true
            subgraph/.* subgraph-updated true
            .circleci/.* frontend-updated true             
            .circleci/.* backend-updated true              
            .circleci/.* docs-updated true                 
            .circleci/.* subgraph-updated true
            .circleci/.* relayer-updated true

subgraph: initial subgraph for l2 contracts
  subgraph/l2/abis/FillManager.json
  subgraph/l2/abis/RequestManager.json
  subgraph/l2/generated/FillManager/FillManager.ts
  subgraph/l2/generated/RequestManager/RequestManager.ts
  subgraph/l2/generated/schema.ts
  subgraph/l2/networks.json
  subgraph/l2/package.json
  subgraph/l2/schema.graphql
  subgraph/l2/src/fill-manager.ts
  subgraph/l2/src/request-manager.ts
  subgraph/l2/subgraph.yaml
  subgraph/l2/tests/fill-manager-utils.ts
  subgraph/l2/tests/fill-manager.test.ts
  subgraph/l2/tests/request-manager-utils.ts
  subgraph/l2/tests/request-manager.test.ts
  subgraph/l2/tsconfig.json
  subgraph/l2/yarn.lock
Due: subgraph-updated

deployments: create package with abi bytecode
  .circleci/config.yml
  deployments-npm-package/scripts/create-package.sh
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

deployments: release package 2.1.0
  deployments-npm-package/package.json
Due: deployment-package-json-updated

frontend: move back to alchemy for zkevm
  frontend/config/chains/1101.json
Due: frontend-updated

frontend: move again to drpc for polygon zkevm
  frontend/config/chains/1101.json
Due: frontend-updated

deployments: add base e2e test config
  deployments/config/local/901-base.json
Due: none

scripts: make artifact_name argument for set_chain_on_resolver subcommand
  docker/optimism/optimism.sh
  scripts/e2e-test-op-commands.py
Due: backend-updated

e2e: create base e2e test scripts
  docker/base/base.sh
  docker/scripts/common.sh
Due: backend-updated

circleci: add base e2e test to ci
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

typing improvements: wip
  .pylintrc
  beamer/agent/chain.py
  beamer/config/commands.py
  beamer/util.py
  plugins/mypy.py
  plugins/pylint.py
  pyproject.toml
  test.py
Due: backend-updated

beamer: events: minimise the amount of code under try...except
  beamer/events.py
Due: backend-updated

health: change unfilled behavior
  beamer/health/check.py
  beamer/health/health-check-mainnet.conf
  beamer/tests/health/test_check.py
Due: backend-updated

subgraph: withdraw expired tx was not handled
  subgraph/src/mappings/request-manager.ts
  subgraph/src/utils/constants.ts
Due: subgraph-updated

contracts: fix correct usage of claim fill id during claim resolution
  contracts/contracts/RequestManager.sol
Due: backend-updated

tests: add test to check correct claim resolution after invalidation. Without the previous commit, the test would fail
  beamer/tests/contracts/test_request_manager.py
Due: backend-updated

subgraph: add scripts for each supported chain
  subgraph/package.json
Due: subgraph-updated

fix: add more logs for failed tx and fill request
  beamer/agent/chain.py
  beamer/util.py
Due: backend-updated

subgraph: fix wrong contract address
  subgraph/networks.json
Due: subgraph-updated

subgraph: handle ClaimStakeWithdrawn
  subgraph/generated/schema.ts
  subgraph/schema.graphql
  subgraph/src/mappings/request-manager.ts
  subgraph/subgraph.yaml
Due: subgraph-updated

contracts: add documentation to transferableAmount
  contracts/contracts/RequestManager.sol
Due: backend-updated

contracts: remove unnecessary filler and fillId variables
  contracts/contracts/RequestManager.sol
Due: backend-updated

contracts: forbid claim on behalf of zero address
  contracts/contracts/RequestManager.sol
Due: backend-updated

tests: add test for disabled chain
  beamer/tests/contracts/test_request_manager.py
Due: backend-updated
