Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

frontend: Generate ABI typings from deployments package
  frontend/package.json
Due: frontend-updated

frontend: Use new deployments package for contract ABIs and types
  frontend/package.json
  frontend/src/assets/FillManager.json
  frontend/src/assets/RequestManager.json
  frontend/src/assets/StandardToken.json
  frontend/src/services/transactions/fill-manager.ts
  frontend/src/services/transactions/request-manager.ts
  frontend/src/services/transactions/token.ts
  frontend/tsconfig.json
Due: frontend-updated

frontend: Adapt configure script to new deployments package
  frontend/config/configure.ts
  frontend/config/deployment.ts
  frontend/config/utils.ts
  frontend/tests/unit/config/configure.spec.ts
  frontend/tests/unit/config/deployment.spec.ts
  frontend/tests/unit/config/utils.spec.ts
  frontend/tests/utils/data_generators.ts
Due: frontend-updated

frontend: Add @beamer-bridge/deployments dependency
  frontend/package.json
  frontend/yarn.lock
Due: frontend-updated

frontend: Upgrade to typescript v5
  frontend/package.json
  frontend/patches/@vuelidate+core+2.0.2.patch
  frontend/tsconfig.json
  frontend/yarn.lock
Due: frontend-updated

relayer: use utility method wherever applicable
  relayer/src/common/events/FillInvalidated.ts
  relayer/src/common/events/RequestFilled.ts
Due: relayer-updated

fix: solve issue with constructor_args in deployment utils and increase timeout for web3
  beamer/util.py
Due: backend-updated

circleci: add polygon zkevm e2e test to pipeline
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

scripts: support multiple contract addresses as constructor args
  scripts/deployment/config.py
  scripts/deployment/main.py
Due: backend-updated

feat: add e2e test script for polygon zkevm
  docker/polygon_zkevm/polygon_zkevm.sh
Due: backend-updated

chore: add polygon_zkevm to dockerignore
  .dockerignore
Due: none

feat: add local deployment config for polygon zkevm
  deployments/config/local/1001-polygon-zkevm.json
  deployments/config/local/rpc.json
  scripts/deployment/polygon-zkevm-local-template.json
Due: backend-updated

fix: add base chain contracts to verification
  scripts/verify-contracts.py
Due: backend-updated

deployment: change w3 timeout for chain deployment commands
  beamer/deploy/commands.py
  beamer/util.py
  scripts/deployment/main.py
Due: backend-updated

relayer: implement polygon zkevm relay service
  relayer/src/assets/abi/PolygonZKEvmBridge.json
  relayer/src/common/events/polygon-zkevm/BridgeEvent.ts
  relayer/src/common/util.ts
  relayer/src/map.ts
  relayer/src/services/polygon-zkevm.ts
  relayer/src/services/types.ts
  relayer/yarn.lock
Due: relayer-updated

relayer: fix warnings from pkg build process
  relayer/package.json
  relayer/yarn.lock
Due: relayer-updated

deployment: goerli artifacts
  deployments/goerli/ArbitrumL1Messenger.json
  deployments/goerli/ArbitrumL2Messenger.json
  deployments/goerli/EthereumL1Messenger.json
  deployments/goerli/EthereumL2Messenger.json
  deployments/goerli/FillManager.json
  deployments/goerli/MintableToken.json
  deployments/goerli/OptimismL1Messenger.json
  deployments/goerli/OptimismL2Messenger.json
  deployments/goerli/PolygonZkEVMMessenger.json
  deployments/goerli/RequestManager.json
  deployments/goerli/Resolver.json
  deployments/goerli/deployment.json
Due: none

deployment: change goerli config
  scripts/deployment/goerli-testnets.json
Due: backend-updated

feat: add new goerli artifacts
  deployments/artifacts/goerli/1442-polygon-zkevm.deployment.json
  deployments/artifacts/goerli/420-optimism.deployment.json
  deployments/artifacts/goerli/421613-arbitrum.deployment.json
  deployments/artifacts/goerli/5-ethereum.deployment.json
  deployments/artifacts/goerli/84531-base.deployment.json
  deployments/artifacts/goerli/base.deployment.json
Due: deployment-artifacts-updated

Update contributing page
  docs/source/contributing.rst
Due: docs-updated

relayer: change messenger addresses for goerli
  relayer/src/services/arbitrum.ts
  relayer/src/services/ethereum.ts
Due: relayer-updated

relayer: fix & optimize polygon relayer
  relayer/src/services/polygon-zkevm.ts
Due: relayer-updated

relayer: improve logging for polygon
  relayer/src/services/polygon-zkevm.ts
Due: relayer-updated

relayer: improve logging for ethereum
  relayer/src/services/ethereum.ts
Due: relayer-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
