Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.4.0

parameters:
  action:
    type: enum
    enum: [default, frontend-mainnet-deployment, frontend-testnet-deployment, frontend-shadow-deployment, publish-container-image, publish-docs]
    default: default

workflows:
  always-run:
    when:
      equal: [default, << pipeline.parameters.action >>]
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            Makefile backend-updated true
            ape-config.yaml backend-updated true
            poetry.lock backend-updated true
            pyproject.toml backend-updated true
            beamer/.* backend-updated true
            contracts/.* backend-updated true
            docker/.* backend-updated true
            scripts/.* backend-updated true
            relayer/.* relayer-updated true
            docs/.* docs-updated true
            deployments/artifacts/.* deployment-artifacts-updated true
            deployments/artifacts/.* docs-updated true
            deployments-npm-package/package.json deployment-package-json-updated true
            deployments-npm-package/scripts/create-package.sh deployment-artifacts-updated true
            frontend/.* frontend-updated true
            subgraph/.* subgraph-updated true
            .circleci/.* frontend-updated true             
            .circleci/.* backend-updated true              
            .circleci/.* docs-updated true                 
            .circleci/.* subgraph-updated true
            .circleci/.* relayer-updated true

  frontend-mainnet-deployment:
    when:
      equal: [frontend-mainnet-deployment, << pipeline.parameters.action >>]
    jobs:
      - continuation/continue: 
          parameters: '{ "trigger-frontend-deployment": "mainnet" }'
          configuration_path: .circleci/workflows.yml

  frontend-testnet-deployment:
    when:
      equal: [frontend-testnet-deployment, << pipeline.parameters.action >>]
    jobs:
      - continuation/continue: 
          parameters: '{ "trigger-frontend-deployment": "testnet" }'
          configuration_path: .circleci/workflows.yml

  frontend-shadow-deployment:
    when:
      equal: [frontend-shadow-deployment, << pipeline.parameters.action >>]
    jobs:
      - continuation/continue: 
          parameters: '{ "trigger-frontend-deployment": "shadow" }'
          configuration_path: .circleci/workflows.yml

  publish-container-image:
    when:
      equal: [publish-container-image, << pipeline.parameters.action >>]
    jobs:
      - continuation/continue:
          parameters: '{ "publish-container-image": true }'
          configuration_path: .circleci/workflows.yml

  publish-docs:
    when:
      equal: [publish-docs, << pipeline.parameters.action >>]
    jobs:
      - continuation/continue:
          parameters: '{ "docs-updated": true }'
          configuration_path: .circleci/workflows.yml

frontend: enable v3 FeeSub contracts
  frontend/config/chains/1.json
  frontend/config/chains/10.json
  frontend/config/chains/1101.json
  frontend/config/chains/42161.json
  frontend/config/chains/8453.json
Due: frontend-updated

frontend: update banner text
  frontend/src/components/layout/Banner.vue
Due: frontend-updated

frontend: use v3 contracts
  frontend/package.json
  frontend/yarn.lock
Due: frontend-updated

frontend: temporary remove feeSub addresses
  frontend/config/chains/1.json
  frontend/config/chains/10.json
  frontend/config/chains/1101.json
  frontend/config/chains/42161.json
Due: frontend-updated

frontend: filter out unsupported destination tokens
  frontend/src/components/RequestSourceInputs.vue
  frontend/src/composables/useTokenSelection.ts
  frontend/src/utils/arrayFilters.ts
  frontend/tests/unit/composables/useTokenSelection.spec.ts
  frontend/tests/unit/utils/arrayFilters.spec.ts
Due: frontend-updated

frontend: enable base
  frontend/config/chains/8453.json
  frontend/config/tokens/DAI.json
  frontend/config/tokens/USDC.json
  frontend/config/tokens/WETH.json
Due: frontend-updated

frontend: edit agent address list
  frontend/src/utils/agentAddresses.ts
Due: frontend-updated

beamer: artifacts: add load_base
  beamer/artifacts.py
Due: backend-updated

scripts: add script to check liquidity based on state files
  scripts/check_liquidity.py
Due: backend-updated

beamer: config: add option for log level
  beamer/config/commands.py
Due: backend-updated

beamer: tests: allow passing environment variables to run_command
  beamer/tests/util.py
Due: backend-updated

docs: document the new 'check verify-l1-invalidations' command
  docs/source/commands.rst
Due: docs-updated

beamer: tests: add tests for 'check verify-l1-invalidations` command
  beamer/tests/check/test_invalidations.py
Due: backend-updated

beamer: check: add verify-l1-invalidations
  beamer/check/commands.py
Due: backend-updated

frontend: update active agent addresses
  frontend/src/utils/agentAddresses.ts
Due: frontend-updated

beamer: tests: add tests for the `check initiate-challenges` command
  beamer/tests/check/test_challenges.py
Due: backend-updated

beamer: check: add initiate-challenges
  beamer/check/commands.py
Due: backend-updated

docs: document the new 'check initiate-challenges' command
  docs/source/commands.rst
Due: docs-updated

frontend: disable zkevm
  frontend/config/chains/1101.json
Due: frontend-updated

contracts: Add sendMessage function to ZkSyncL1Messenger (WIP)
  contracts/contracts/chains/zksync/IMailbox.sol
  contracts/contracts/chains/zksync/ZkSyncMessengers.sol
Due: backend-updated

frontend: enable pollingInterval definition per chain
  frontend/config/chains/1101.json
  frontend/src/services/transactions/utils.ts
  frontend/tests/unit/services/transactions/utils.spec.ts
Due: frontend-updated

frontend: change banner text
  frontend/src/components/layout/Banner.vue
Due: frontend-updated

docs: fix new-line rendering
  docs/source/whitepaper.rst
Due: docs-updated
