Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

.circleci: disable Polygon zkEVM tests
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

Subscribe for blocks and events
  beamer/agent/chain.py
  beamer/events.py
Due: backend-updated

e2e: change optimism script
  docker/optimism/optimism.sh
Due: backend-updated

feat: update optimism deployment config
  scripts/deployment/optimism-local-template.json
Due: backend-updated

chore: remove optimism submodule
  .gitmodules
Due: none

circleci: update circleci for optimism bedrock
  .circleci/workflows.yml
  docker/optimism/optimism.sh
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

relayer: change local chain id for optimism
  relayer/src/map.ts
Due: relayer-updated

chore: move data dir into agent directory
  beamer/agent/data/agent.conf.example
Due: backend-updated

beamer: events: add an address field to each event
  beamer/events.py
Due: backend-updated

beamer: hook up the new config commands
  beamer/cli.py
Due: backend-updated

beamer: tests: add tests for the new 'config read' command
  beamer/tests/config/__init__.py
  beamer/tests/config/test_read.py
  beamer/tests/config/util.py
Due: backend-updated

beamer: add a new command, 'config read'
  beamer/config/commands.py
  beamer/config/state.py
Due: backend-updated

docs: document the new 'config read' command
  docs/source/commands.rst
Due: docs-updated

beamer: deploy: add a --commit-check option to allow disabling the commit check
  beamer/deploy/commands.py
Due: backend-updated

beamer: tests: initialize address fields of test events
  beamer/tests/agent/test_request.py
  beamer/tests/agent/unit/test_handlers.py
  beamer/tests/agent/unit/test_invalidate.py
  beamer/tests/agent/unit/utils.py
  beamer/tests/health/conftest.py
Due: backend-updated

deployment: add polygon zkEVM mainnet artifacts
  deployments/artifacts/mainnet/1101-Polygon ZkEVM.deployment.json
Due: deployment-artifacts-updated

fix: check if contract exists on the commit and check only abi to detect error
  scripts/generate-abi.py
Due: backend-updated

circleci: Add CI configurations to publish frontend build to beamer-bridge/frontend-deployment repo
  .circleci/config.yml
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

circleci: fix npm-release workflow condition
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

relayer: restructure to support subcommands
  relayer/package.json
  relayer/src/cli.ts
  relayer/src/cli/commands/relay.ts
  relayer/src/cli/programs/relay.ts
  relayer/src/services/index.ts
  relayer/src/services/relayer/arbitrum.ts
  relayer/src/services/relayer/boba.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/relayer/index.ts
  relayer/src/services/relayer/map.ts
  relayer/src/services/relayer/optimism.ts
  relayer/src/services/relayer/polygon-zkevm.ts
  relayer/src/services/types.ts
  relayer/tests/unit/map.spec.ts
  relayer/tests/unit/relayer-program.spec.ts
Due: relayer-updated

relayer: upgrade optimism sdk to v2
  relayer/package.json
  relayer/yarn.lock
Due: relayer-updated

relayer: use bedrock optimism
  relayer/src/services/optimism.ts
Due: relayer-updated

relayer: fix tests
  relayer/tests/unit/map.spec.ts
  relayer/tests/unit/relayer-program.spec.ts
Due: relayer-updated

makefile: update relayer build command
  Makefile
Due: backend-updated

relayer: add message proving functionality
  relayer/src/cli.ts
  relayer/src/cli/commands/prove-op-message.ts
  relayer/src/cli/programs/prove-op-message.ts
  relayer/src/cli/programs/relay.ts
  relayer/src/services/relayer/arbitrum.ts
  relayer/src/services/relayer/optimism.ts
  relayer/src/services/relayer/polygon-zkevm.ts
  relayer/src/services/types.ts
Due: relayer-updated

agent: use relayer subcommand
  beamer/agent/relayer.py
Due: backend-updated

docker: use relayer subcommand
  docker/scripts/common.sh
Due: backend-updated

relayer: fix broken pkg builds
  relayer/src/cli.ts
  relayer/src/cli/commands/prove-op-message.ts
  relayer/src/cli/commands/relay.ts
  relayer/src/cli/programs/prove-op-message.ts
  relayer/src/cli/programs/relay.ts
  relayer/src/cli/types.ts
  relayer/tests/unit/relayer-program.spec.ts
Due: relayer-updated

relayer: add missing tests
  relayer/src/cli/programs/prove-op-message.ts
  relayer/tests/unit/cli/programs/prove-op-message.spec.ts
  relayer/tests/unit/cli/programs/relay.spec.ts
Due: relayer-updated

docker: use new proof subcommand
  docker/optimism/optimism.sh
  docker/scripts/common.sh
Due: backend-updated

relayer: wait for transactions
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

tests: add unit test for op prove call
  beamer/tests/agent/unit/test_challenge.py
Due: backend-updated

agent: support OP message prove
  beamer/agent/chain.py
  beamer/agent/models/claim.py
  beamer/agent/relayer.py
Due: backend-updated

frontend: add 'disabled' property to chain metas
  frontend/config/chains/10.json
  frontend/config/chains/chain.ts
  frontend/config/schema.ts
Due: frontend-updated

frontend: add option disable functionality
  frontend/src/components/OptionDisabledTooltip.vue
  frontend/src/components/inputs/Selector.vue
  frontend/src/composables/useChainSelection.ts
  frontend/src/types/data.ts
  frontend/src/types/form.ts
  frontend/tests/unit/components/OptionDisabledTooltip.spec.ts
  frontend/tests/unit/components/inputs/Selector.spec.ts
  frontend/tests/unit/composables/useChainSelection.spec.ts
  frontend/tests/utils/data_generators.ts
Due: frontend-updated

frontend: disable autoselect when option is disabled
  frontend/src/components/RequestSourceInputs.vue
Due: frontend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
