Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

circleci: build the image for publish
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

frontend: change discord url
  docs/source/faq.rst
  frontend/src/App.vue
  frontend/src/components/Footer.vue
  frontend/tests/unit/components/Footer.spec.ts
Due: docs-updated, frontend-updated

circleci: change build and publish
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

frontend: Show error if request creation step is run without enough allowance
  frontend/src/actions/transfers/transfer.ts
  frontend/tests/unit/actions/transfers/transfer.spec.ts
Due: frontend-updated

frontend: Refactor allowance check to separate function
  frontend/src/services/transactions/token.ts
  frontend/tests/unit/services/transactions/token.spec.ts
Due: frontend-updated

frontend: Show error if token allowance step was not successful
  frontend/src/actions/transfers/transfer.ts
  frontend/tests/unit/actions/transfers/transfer.spec.ts
Due: frontend-updated

beamer: config: make sure chain IDs from config and deployment match also when writing
  beamer/config/commands.py
Due: backend-updated

beamer: tests: config: test mismatched config and deployment chain IDs
  beamer/tests/config/test_write.py
Due: backend-updated

frontend: Update vuelidate
  frontend/package.json
  frontend/yarn.lock
Due: frontend-updated

relayer: New step based architecture
  relayer/src/cli/programs/relay.ts
  relayer/src/services/relayer/arbitrum.ts
  relayer/src/services/relayer/boba.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/relayer/optimism.ts
  relayer/src/services/relayer/polygon-zkevm.ts
  relayer/src/services/types.ts
  relayer/tests/unit/cli/programs/relay.spec.ts
  relayer/tests/unit/map.spec.ts
Due: relayer-updated

relayer: Return l1 transaction hash in isCompleted check of Arbitrum relayer service
  relayer/src/services/relayer/arbitrum.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/types.ts
Due: relayer-updated

relayer: Use boolean return value for isCompleted checks of steps
  relayer/src/cli/programs/relay.ts
  relayer/src/services/relayer/arbitrum.ts
  relayer/src/services/relayer/boba.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/relayer/optimism.ts
  relayer/src/services/relayer/polygon-zkevm.ts
  relayer/src/services/types.ts
  relayer/tests/unit/cli/programs/relay.spec.ts
Due: relayer-updated

e2e tests: add resolver environment variable to arbitrum and ethereum tests
  docker/arbitrum/arbitrum.sh
  docker/ethereum/ethereum.sh
Due: backend-updated

relayer: Enable strict mode of Typescript
  relayer/src/cli/programs/prove-op-message.ts
  relayer/src/cli/programs/relay.ts
  relayer/src/services/relayer/boba.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/relayer/optimism.ts
  relayer/src/services/relayer/polygon-zkevm.ts
  relayer/tests/unit/ethers/json-rpc-provider.spec.ts
  relayer/tsconfig.json
Due: relayer-updated

relayer: Add typescript compiler check to linting
  relayer/package.json
Due: relayer-updated

relayer: OP relayer needs to print proof timestamp
  relayer/src/cli/programs/prove-op-message.ts
  relayer/src/services/relayer/optimism.ts
  relayer/tests/unit/cli/programs/prove-op-message.spec.ts
Due: relayer-updated

contracts: add FeeSub.sol
  contracts/contracts/FeeSub.sol
Due: backend-updated

tests: add tests for FeeSub contract
  beamer/tests/conftest.py
  beamer/tests/contracts/test_fee_sub.py
Due: backend-updated

agent: use relayer timestamp for op prove
  beamer/agent/chain.py
  beamer/agent/relayer.py
Due: backend-updated

tests: adapt prove unittest to check timestamp
  beamer/tests/agent/unit/test_challenge.py
Due: backend-updated

release: v2.4.0
  CHANGELOG.md
  pyproject.toml
Due: backend-updated

pyproject.toml: pin click to 8.1.3
  poetry.lock
  pyproject.toml
Due: backend-updated

beamer: artifacts: add a helper load_all function
  beamer/artifacts.py
Due: backend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
