Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

beamer: introduce beamer chain descriptors
  beamer/chains.py
Due: backend-updated

tests: use beamer chain descriptors
  beamer/tests/agent/multiple_processors/test_multiple_event_processors.py
  beamer/tests/agent/unit/test_challenge.py
  beamer/tests/agent/unit/utils.py
Due: backend-updated

frontend: bring back the old twitter campaign text
  frontend/src/components/ShareTweet.vue
  frontend/tests/unit/components/ShareTweet.spec.ts
Due: frontend-updated

frontend: enable fee subsidy
  frontend/config/chains/1.json
  frontend/config/chains/10.json
  frontend/config/chains/1101.json
  frontend/config/chains/42161.json
Due: frontend-updated

frontend: it's zebra time baby
  frontend/src/App.vue
Due: frontend-updated

frontend: off-chain `amountCanBeSubsidized` check
  frontend/src/services/transactions/fee-sub.ts
  frontend/tests/unit/services/transactions/fee-sub.spec.ts
  frontend/tests/utils/mocks/beamer.ts
  frontend/tests/utils/mocks/ethers.ts
Due: frontend-updated

frontend: fix broken polygonzkevm explorer url
  frontend/config/chains/1442.json
Due: frontend-updated

beamer: config: don't add duplicate entries to whitelists
  beamer/config/commands.py
Due: backend-updated

frontend: change polygon zkevm logo icon
  frontend/public/images/polygon_zkevm.svg
Due: frontend-updated

frontend: enable polygon-zkevm
  frontend/config/chains/1101.json
Due: frontend-updated

frontend: use polygon campaign tweet text
  frontend/src/components/ShareTweet.vue
  frontend/tests/unit/components/ShareTweet.spec.ts
Due: frontend-updated

deployments: config: remove unnecessary "tokens" object
  deployments/config/goerli/1442-polygon-zkevm.json
  deployments/config/goerli/420-optimism.json
  deployments/config/goerli/421613-arbitrum.json
  deployments/config/goerli/5-ethereum.json
  deployments/config/goerli/84531-base.json
  deployments/config/local/1001-polygon-zkevm.json
  deployments/config/local/1337-ethereum.json
  deployments/config/local/412346-arbitrum.json
  deployments/config/local/901-optimism.json
  deployments/config/mainnet/1-ethereum.json
  deployments/config/mainnet/10-optimism.json
  deployments/config/mainnet/1101-polygon-zkevm.json
  deployments/config/mainnet/42161-arbitrum.json
Due: none

beamer: deploy: remove tokens from the config, it's unused
  beamer/deploy/config.py
Due: backend-updated

frontend: fix broken base rpc url
  frontend/config/chains/84531.json
Due: frontend-updated

frontend: `Transfer`: Add wrappers for transaction functions
  frontend/src/actions/transfers/transfer.ts
Due: frontend-updated

frontend: `SubsidizedTransfer`: Only overwrite transaction wrapper calls
  frontend/src/actions/transfers/subsidized-transfer.ts
Due: frontend-updated

frontend: tests: Add tests for `SubsidizedTransfer`
  frontend/tests/unit/actions/transfers/subsidized-transfer.spec.ts
  frontend/tests/unit/actions/transfers/transfer.spec.ts
  frontend/tests/unit/components/ShareTweet.spec.ts
  frontend/tests/unit/stores/transfer-history/serializer.spec.ts
  frontend/tests/utils/data_generators.ts
Due: frontend-updated

health: upadate health check with zkevm conf
  beamer/health/health-check-mainnet.conf
Due: backend-updated

frontend: add base network
  frontend/config/chains/8453.json
Due: frontend-updated

beamer: middleware: fix cache_get_block_by_number
  beamer/middleware.py
Due: backend-updated

frontend: update banner text
  frontend/src/App.vue
  frontend/src/components/ShareTweet.vue
  frontend/src/components/layout/Banner.vue
  frontend/tests/unit/components/ShareTweet.spec.ts
Due: frontend-updated

relayer: add support for Base
  relayer/package.json
  relayer/src/services/relayer/map.ts
  relayer/tests/unit/map.spec.ts
  relayer/yarn.lock
Due: relayer-updated

frontend: change banner text
  frontend/src/components/layout/Banner.vue
Due: frontend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
