Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

beamer: config: silence mypy
  beamer/config/commands.py
Due: backend-updated

frontend: add new Base RPC url
  frontend/config/chains/84531.json
Due: frontend-updated

frontend: add support for Base chain
  frontend/config/chains/84531.json
  frontend/public/images/base.svg
Due: frontend-updated

deployments: add configuration state files for all chains
  deployments/state/mainnet/1-ethereum.state
  deployments/state/mainnet/10-optimism.state
  deployments/state/mainnet/1101-polygon-zkevm.state
  deployments/state/mainnet/42161-arbitrum.state
Due: none

docker: use variables for replace in sed
  docker/polygon_zkevm/polygon_zkevm.sh
Due: backend-updated

docker: polygon zkevm init instead of clone repo
  docker/polygon_zkevm/polygon_zkevm.sh
Due: backend-updated

beamer: config: replace set with a list
  beamer/config/commands.py
  beamer/config/state.py
Due: backend-updated

beamer: tests: fix tests
  beamer/tests/config/test_read.py
  beamer/tests/config/test_write.py
Due: backend-updated

frontend: implement a way to hide certain tokens
  frontend/config/schema.ts
  frontend/config/tokens/token.ts
  frontend/src/composables/useChainSelection.ts
  frontend/src/composables/useTokenSelection.ts
  frontend/src/types/data.ts
  frontend/src/types/form.ts
  frontend/tests/unit/composables/useChainSelection.spec.ts
  frontend/tests/unit/composables/useTokenSelection.spec.ts
Due: frontend-updated

frontend: add USDT
  frontend/config/chains/1.json
  frontend/config/chains/10.json
  frontend/config/chains/1101.json
  frontend/config/chains/42161.json
  frontend/config/tokens/USDT.json
  frontend/public/images/tokens/usdt.png
  frontend/src/components/inputs/Selector.vue
Due: frontend-updated

frontend: add weth
  frontend/config/chains/1.json
  frontend/config/chains/10.json
  frontend/config/chains/1101.json
  frontend/config/chains/42161.json
  frontend/config/tokens/WETH.json
  frontend/public/images/tokens/weth.png
Due: frontend-updated

beamer: config: create parent directories if they don't exist
  beamer/config/commands.py
Due: backend-updated

beamer: config: read: log whether and how many config updates we found
  beamer/config/commands.py
Due: backend-updated

beamer: config: read: ensure deployment and config chain IDs are same
  beamer/config/commands.py
Due: backend-updated

beamer: tests: add additional tests for the read command
  beamer/tests/config/test_read.py
Due: backend-updated

beamer: tests: add missing test case for token removal
  beamer/tests/config/test_write.py
Due: backend-updated

frontend: Refactor allowance check to separate function
  frontend/src/services/transactions/token.ts
  frontend/tests/unit/services/transactions/token.spec.ts
Due: frontend-updated

frontend: Show error if token allowance step was not successful
  frontend/src/actions/transfers/transfer.ts
  frontend/tests/unit/actions/transfers/transfer.spec.ts
Due: frontend-updated

frontend: Show error if request creation step is run without enough allowance
  frontend/src/actions/transfers/transfer.ts
  frontend/tests/unit/actions/transfers/transfer.spec.ts
Due: frontend-updated

deps: add dateutil types as dev dependency
  poetry.lock
  pyproject.toml
Due: backend-updated

beamer: tests: use ganache, not ganache-cli
  beamer/tests/agent/multiple_processors/test_multiple_event_processors.py
Due: backend-updated

frontend: properly configure WC 2
  frontend/src/services/web3-provider/walletconnect-provider.ts
Due: frontend-updated

frontend: fix types
  frontend/src/services/web3-provider/ethereum-provider.ts
  frontend/src/services/web3-provider/metamask-provider.ts
  frontend/src/services/web3-provider/safe-provider.ts
  frontend/src/services/web3-provider/types.ts
Due: frontend-updated

frontend: update yarn.lock after merge conflicts
  frontend/yarn.lock
Due: frontend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
