Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

beamer: deploy: use lower case chars and replace spaces with dashes in artifact filenames
  beamer/deploy/commands.py
Due: backend-updated

deployments: artifacts: rename polygon zkevm artifact
  deployments/artifacts/mainnet/1101-polygon-zkevm.deployment.json
Due: deployment-artifacts-updated

deployments-npm-package: update version to 2.0.2
  deployments-npm-package/package.json
Due: deployment-package-json-updated

.github: add a template issue for new token support
  .github/ISSUE_TEMPLATE/add-new-token.md
Due: none

Rename Backlog Item.md to backlog-item.md
  .github/ISSUE_TEMPLATE/backlog-item.md
Due: none

.github: add necessary directives to the backlog-item template
  .github/ISSUE_TEMPLATE/backlog-item.md
Due: none

frontend: introduce a new `feeSubAddress` field in the config
  frontend/config/chains/chain.ts
  frontend/config/schema.ts
  frontend/src/composables/useChainSelection.ts
  frontend/src/types/data.ts
Due: frontend-updated

frontend: implement subsidized transfer class
  frontend/src/actions/transfers/index.ts
  frontend/src/actions/transfers/subsidized-transfer.ts
  frontend/src/actions/transfers/types.ts
  frontend/src/stores/transfer-history/serializer.ts
  frontend/tests/unit/stores/transfer-history/serializer.spec.ts
  frontend/tests/utils/data_generators.ts
Due: frontend-updated

frontend: add FeeSub ABI
  frontend/package.json
  frontend/src/assets/abi/FeeSub.json
Due: frontend-updated

frontend: integrate fee subsidy feature
  frontend/src/components/RequestSourceInputs.vue
  frontend/src/composables/useMaxTransferableTokenAmount.ts
  frontend/src/composables/useRequestFee.ts
  frontend/src/composables/useTokenAllowance.ts
  frontend/src/composables/useTransferRequest.ts
  frontend/src/services/transactions/fee-sub.ts
  frontend/tests/unit/composables/useMaxTransferableTokenAmount.spec.ts
  frontend/tests/unit/composables/useRequestFee.spec.ts
  frontend/tests/unit/composables/useTokenAllowance.spec.ts
  frontend/tests/unit/composables/useTransferRequest.spec.ts
  frontend/tests/unit/services/transactions/fee-sub.spec.ts
  frontend/tests/utils/mocks/beamer.ts
  frontend/tests/utils/mocks/services/transactions/utils.ts
Due: frontend-updated

frontend: adjust `generate-types` command
  frontend/package.json
  frontend/src/services/transactions/fill-manager.ts
  frontend/src/services/transactions/request-manager.ts
Due: frontend-updated

contracts: FeeSub `canBeSubsidized` check
  contracts/contracts/FeeSub.sol
Due: backend-updated

beamer: test FeeSub contract
  beamer/tests/contracts/test_fee_sub.py
Due: backend-updated

contracts: lint FeeSub contract
  contracts/contracts/FeeSub.sol
Due: backend-updated

frontend: use new fee subsidy availability check
  frontend/src/composables/useMaxTransferableTokenAmount.ts
  frontend/src/composables/useRequestFee.ts
  frontend/src/composables/useTransferRequest.ts
  frontend/src/services/transactions/fee-sub.ts
  frontend/tests/unit/services/transactions/fee-sub.spec.ts
  frontend/tests/utils/mocks/beamer.ts
Due: frontend-updated

frontend: update FeeSub ABI
  frontend/src/assets/abi/FeeSub.json
Due: frontend-updated

frontend: Add type guards for SubsidizedTransfer
  frontend/src/actions/transfers/subsidized-transfer.ts
  frontend/src/actions/transfers/types.ts
  frontend/src/stores/transfer-history/serializer.ts
  frontend/tests/unit/stores/transfer-history/serializer.spec.ts
  frontend/tests/utils/data_generators.ts
Due: frontend-updated

frontend: Update transfer success tweet text for Polygon release
  frontend/src/components/ShareTweet.vue
Due: frontend-updated

frontend: Show different success tweet text if transfer was subsidized
  frontend/src/components/ShareTweet.vue
  frontend/tests/unit/components/ShareTweet.spec.ts
  frontend/tests/utils/data_generators.ts
Due: frontend-updated

beamer: introduce beamer chain descriptors
  beamer/chains.py
Due: backend-updated

beamer: use new beamer chain descriptors
  beamer/agent/chain.py
  beamer/deploy/util.py
  beamer/util.py
Due: backend-updated

tests: use beamer chain descriptors
  beamer/tests/agent/multiple_processors/test_multiple_event_processors.py
  beamer/tests/agent/unit/test_challenge.py
  beamer/tests/agent/unit/utils.py
Due: backend-updated

frontend: it's zebra time baby
  frontend/src/App.vue
Due: frontend-updated

frontend: enable fee subsidy
  frontend/config/chains/1.json
  frontend/config/chains/10.json
  frontend/config/chains/1101.json
  frontend/config/chains/42161.json
Due: frontend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
