Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            Makefile backend-updated true
            ape-config.yaml backend-updated true
            poetry.lock backend-updated true
            pyproject.toml backend-updated true
            beamer/.* backend-updated true
            contracts/.* backend-updated true
            docker/.* backend-updated true
            scripts/.* backend-updated true
            relayer/.* relayer-updated true
            docs/.* docs-updated true
            deployments/mainnet/deployment.json docs-updated true
            deployments/artifacts/.* deployment-artifacts-updated true
            deployments-npm-package/package.json deployment-package-json-updated true
            frontend/.* frontend-updated true
            subgraph/.* subgraph-updated true
            .circleci/.* frontend-updated true             
            .circleci/.* backend-updated true              
            .circleci/.* docs-updated true                 
            .circleci/.* subgraph-updated true
            .circleci/.* relayer-updated true

e2e: adapt image test to new deployment artifacts
  docker/scripts/test-container-image.sh
Due: backend-updated

scripts: adapt contract addresses generator script for new deployment artifacts
  .circleci/config.yml
  Makefile
  scripts/generate-contract-addresses-doc-page.py
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

scripts: adapt call_contracts to use new deployment artifacts
  scripts/call_contracts.py
Due: backend-updated

frontend: update @beamer-bridge/deployments pkg
  frontend/package.json
  frontend/yarn.lock
Due: frontend-updated

frontend: add support for PolygonZKEvm
  frontend/config/chains/1101.json
  frontend/config/tokens/DAI.json
  frontend/config/tokens/USDC.json
  frontend/public/images/polygon_zkevm.svg
Due: frontend-updated

frontend: add a way to hide certain chains
  frontend/config/chains/chain.ts
  frontend/config/schema.ts
  frontend/src/components/RequestSourceInputs.vue
  frontend/src/composables/useChainSelection.ts
  frontend/src/types/data.ts
  frontend/src/types/form.ts
Due: frontend-updated

frontend: test hidden option exclusion
  frontend/tests/unit/composables/useChainSelection.spec.ts
Due: frontend-updated

frontend: fix tests
  frontend/tests/unit/composables/useChainSelection.spec.ts
Due: frontend-updated

tests: adapt to use new deployment artifacts
  beamer/tests/agent/multiple_processors/test_multiple_event_processors.py
  beamer/tests/agent/test_cli.py
  beamer/tests/config/util.py
Due: backend-updated

e2e: adapt ethereum e2e test to use new deployment artifacts
  deployments/config/local/1337-ethereum.json
  deployments/config/local/rpc.json
  docker/ethereum/ethereum.sh
  docker/scripts/common.sh
  scripts/e2e-test-fill.py
  scripts/e2e-test-verify.py
Due: backend-updated

feat: remove old deployments config and files
  deployments/goerli/ArbitrumL1Messenger.json
  deployments/goerli/ArbitrumL2Messenger.json
  deployments/goerli/EthereumL1Messenger.json
  deployments/goerli/EthereumL2Messenger.json
  deployments/goerli/FillManager.json
  deployments/goerli/MintableToken.json
  deployments/goerli/OptimismL1Messenger.json
  deployments/goerli/OptimismL2Messenger.json
  deployments/goerli/PolygonZkEVMMessenger.json
  deployments/goerli/RequestManager.json
  deployments/goerli/Resolver.json
  deployments/goerli/deployment.json
  deployments/mainnet/ArbitrumL1Messenger.json
  deployments/mainnet/ArbitrumL2Messenger.json
  deployments/mainnet/EthereumL1Messenger.json
  deployments/mainnet/EthereumL2Messenger.json
  deployments/mainnet/FillManager.json
  deployments/mainnet/OptimismL1Messenger.json
  deployments/mainnet/OptimismL2Messenger.json
  deployments/mainnet/RequestManager.json
  deployments/mainnet/Resolver.json
  deployments/mainnet/deployment.json
  scripts/deployment/arbitrum-local-template.json
  scripts/deployment/config.py
  scripts/deployment/ethereum-local.json
  scripts/deployment/ganache-local.json
  scripts/deployment/goerli-testnets.json
  scripts/deployment/main.py
  scripts/deployment/mainnet.json
  scripts/deployment/optimism-local-template.json
  scripts/deployment/polygon-zkevm-local-template.json
Due: backend-updated, docs-updated

e2e: adapt arbitrum e2e test to use new deployment artifacts
  .gitmodules
  deployments/config/local/412346-arbitrum.json
  docker/arbitrum/arbitrum.sh
Due: backend-updated

e2e: adapt optimism e2e test to use new deployment artifacts
  deployments/config/local/901-optimism.json
  docker/optimism/optimism.sh
  scripts/e2e-test-op-commands.py
Due: backend-updated

docs: update docs for new deployment artifacts
  docs/source/commands.rst
  docs/source/configuration.rst
  docs/source/contributing.rst
  docs/source/running.rst
Due: docs-updated

e2e: adapt polygon zkevm e2e test to use new deployment artifacts
  deployments/config/local/1001-polygon-zkevm.json
  docker/polygon_zkevm/polygon_zkevm.sh
Due: backend-updated

agent: adapt to use new deployment artifacts
  beamer/agent/commands.py
  beamer/agent/config.py
  beamer/contracts.py
  beamer/health/check.py
Due: backend-updated

circleci: disable arbitrum submodule as not used
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

frontend: add Goerli PolygonZKEvm support
  frontend/config/chains/1442.json
Due: frontend-updated

frontend: Allow Matomo cookie inside iframe
  frontend/index.html
Due: frontend-updated

docker: update zkevm-bridge-service version
  docker/polygon_zkevm/polygon_zkevm.sh
Due: backend-updated

tests: fix race condition between sync and test thread which could result in a key error
  beamer/tests/agent/test_request.py
Due: backend-updated

docs: be cosistent in naming deployment files
  docs/source/commands.rst
Due: docs-updated

beamer: config: emit log after storing configuration to a file
  beamer/config/commands.py
Due: backend-updated

beamer: config: fix start block initialization
  beamer/config/commands.py
Due: backend-updated

beamer: tests: add beamer.tests.util.get_repo_root
  beamer/tests/agent/test_cli.py
  beamer/tests/config/test_write.py
  beamer/tests/config/util.py
  beamer/tests/util.py
Due: backend-updated

docs: document the new 'config write' command
  docs/source/commands.rst
Due: docs-updated

beamer: config: add a distinct type for desired configuration
  beamer/config/state.py
Due: backend-updated

beamer: tests: deploy mintable token too in config tests
  beamer/tests/config/util.py
Due: backend-updated

beamer: tests: move _read_config_state to util and make it public
  beamer/tests/config/test_read.py
  beamer/tests/config/util.py
Due: backend-updated

beamer: config: make ChainConfig and TokenConfig non-frozen
  beamer/config/state.py
Due: backend-updated

beamer: config: fix typo
  beamer/config/state.py
Due: backend-updated
