Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

circleci: trigger e2e tests when relayer changed
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

relayer: fix & optimize polygon relayer
  relayer/src/services/polygon-zkevm.ts
Due: relayer-updated

relayer: improve logging for ethereum
  relayer/src/services/ethereum.ts
Due: relayer-updated

relayer: improve logging for polygon
  relayer/src/services/polygon-zkevm.ts
Due: relayer-updated

feat: add new goerli artifacts
  deployments/artifacts/goerli/1442-polygon-zkevm.deployment.json
  deployments/artifacts/goerli/420-optimism.deployment.json
  deployments/artifacts/goerli/421613-arbitrum.deployment.json
  deployments/artifacts/goerli/5-ethereum.deployment.json
  deployments/artifacts/goerli/84531-base.deployment.json
  deployments/artifacts/goerli/base.deployment.json
Due: deployment-artifacts-updated

deployment: goerli artifacts
  deployments/goerli/ArbitrumL1Messenger.json
  deployments/goerli/ArbitrumL2Messenger.json
  deployments/goerli/EthereumL1Messenger.json
  deployments/goerli/EthereumL2Messenger.json
  deployments/goerli/FillManager.json
  deployments/goerli/MintableToken.json
  deployments/goerli/OptimismL1Messenger.json
  deployments/goerli/OptimismL2Messenger.json
  deployments/goerli/PolygonZkEVMMessenger.json
  deployments/goerli/RequestManager.json
  deployments/goerli/Resolver.json
  deployments/goerli/deployment.json
Due: none

relayer: change messenger addresses for goerli
  relayer/src/services/arbitrum.ts
  relayer/src/services/ethereum.ts
Due: relayer-updated

deployment: change goerli config
  scripts/deployment/goerli-testnets.json
Due: backend-updated

scripts: use unique contract name as key for verify-contracts script
  scripts/verify-contracts.py
Due: backend-updated

scripts: fix call for TotalFee in call-contracts request
  scripts/call_contracts.py
Due: backend-updated

relayer: use @beamer-bridge/deployments package
  relayer/package.json
  relayer/src/assets/abi/ArbitrumL1Messenger.json
  relayer/src/assets/abi/EthereumL2Messenger.json
  relayer/src/assets/abi/FillManager.json
  relayer/src/assets/abi/Resolver.json
  relayer/src/common/events/FillInvalidated.ts
  relayer/src/common/events/RequestFilled.ts
  relayer/src/deployments.ts
  relayer/src/services/arbitrum.ts
  relayer/src/services/ethereum.ts
  relayer/yarn.lock
Due: relayer-updated

relayer: use auto-generated types as interfaces
  relayer/package.json
  relayer/src/common/events/FillInvalidated.ts
  relayer/src/common/events/RequestFilled.ts
  relayer/src/common/events/polygon-zkevm/BridgeEvent.ts
  relayer/src/deployments.ts
  relayer/src/services/arbitrum.ts
  relayer/src/services/ethereum.ts
  relayer/src/services/polygon-zkevm.ts
Due: relayer-updated

init gh-pages
  .gitignore
Due: none

deploy latest version of e8074e7
  .gitignore
  CNAME
  assets/Signet-9bba6c74.svg
  assets/browser-wallet-8918e2a2.svg
  assets/caret-down-c9276fe7.svg
  assets/caret-right-9c4af61e.svg
  assets/close-d36cb64a.svg
  assets/coinbase_wallet-686714a7.png
  assets/copy-ac559836.svg
  assets/discord-231425bd.png
  assets/github-f3c25916.png
  assets/help-67ea14bd.svg
  assets/index-162b5f96.js
  assets/index-7a5def09.css
  assets/logo-f52a5fc3.svg
  assets/medium-70626e3b.png
  assets/metamask-79d13625.svg
  assets/question-mark-76810ff6.svg
  assets/sora-all-400-normal-625d3e27.woff
  assets/sora-latin-400-normal-3fc0e572.woff2
  assets/sora-latin-ext-400-normal-db65cdf3.woff2
  assets/twitter-5c30fa2c.png
  assets/walletconnect-e911210f.svg
  config.development.json
  config.production.json
  config.staging.json
  favicon.png
  images/arbitrum.svg
  images/boba.svg
  images/ethereum.svg
  images/optimism.svg
  images/tokens/dai.svg
  images/tokens/usdc.svg
  images/twitter-card.png
  index.html
  logo_padded.png
  logo_signet.svg
  manifest.json
Due: none

fix: use w3 for chain instead of base w3
  beamer/deploy/commands.py
Due: backend-updated

frontend: use node 16.x
  frontend/package.json
Due: frontend-updated

deployment: add polygon zkEVM mainnet artifacts
  deployments/artifacts/mainnet/1101-Polygon ZkEVM.deployment.json
Due: deployment-artifacts-updated

fix: check if contract exists on the commit and check only abi to detect error
  scripts/generate-abi.py
Due: backend-updated

Fetch new blocks from eth_subscribe
  beamer/agent/chain.py
  beamer/events.py
Due: backend-updated

fix: change event fetching algorithm
  beamer/events.py
Due: backend-updated

chore: move data dir into agent directory
  beamer/agent/data/agent.conf.example
Due: backend-updated

Update and rename feature.md to Bcklog Item.md
  .github/ISSUE_TEMPLATE/Bcklog Item.md
  .github/ISSUE_TEMPLATE/feature.md
Due: none

Rename Bcklog Item.md to Backlog Item.md
  .github/ISSUE_TEMPLATE/Backlog Item.md
Due: none

e2e: Retry relayer if exited with an error
  docker/arbitrum/arbitrum.sh
  docker/ethereum/ethereum.sh
  docker/optimism/optimism.sh
  docker/scripts/common.sh
Due: backend-updated

beamer: deploy: add a --commit-check option to allow disabling the commit check
  beamer/deploy/commands.py
Due: backend-updated

beamer: tests: initialize address fields of test events
  beamer/tests/agent/test_request.py
  beamer/tests/agent/unit/test_handlers.py
  beamer/tests/agent/unit/test_invalidate.py
  beamer/tests/agent/unit/utils.py
  beamer/tests/health/conftest.py
Due: backend-updated

beamer: events: add an address field to each event
  beamer/events.py
Due: backend-updated

beamer: add a new command, 'config read'
  beamer/config/commands.py
  beamer/config/state.py
Due: backend-updated

beamer: hook up the new config commands
  beamer/cli.py
Due: backend-updated

beamer: tests: add tests for the new 'config read' command
  beamer/tests/config/__init__.py
  beamer/tests/config/test_read.py
  beamer/tests/config/util.py
Due: backend-updated

docs: document the new 'config read' command
  docs/source/commands.rst
Due: docs-updated

.circleci: disable Polygon zkEVM tests
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
