Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            Makefile backend-updated true
            ape-config.yaml backend-updated true
            poetry.lock backend-updated true
            pyproject.toml backend-updated true
            beamer/.* backend-updated true
            contracts/.* backend-updated true
            docker/.* backend-updated true
            scripts/.* backend-updated true
            relayer/.* relayer-updated true
            docs/.* docs-updated true
            deployments/mainnet/deployment.json docs-updated true
            deployments/artifacts/.* deployment-artifacts-updated true
            deployments-npm-package/package.json deployment-package-json-updated true
            frontend/.* frontend-updated true
            subgraph/.* subgraph-updated true
            .circleci/.* frontend-updated true             
            .circleci/.* backend-updated true              
            .circleci/.* docs-updated true                 
            .circleci/.* subgraph-updated true
            .circleci/.* relayer-updated true

relayer: calculate gas limit for OP relays
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

agent: change local chain id of OP
  beamer/agent/chain.py
  beamer/tests/agent/unit/test_challenge.py
Due: backend-updated

relayer: change local chain id for optimism
  relayer/src/services/relayer/map.ts
Due: relayer-updated

e2e: change optimism script
  .dockerignore
  docker/optimism/Dockerfile
  docker/optimism/optimism.sh
  docker/scripts/common.sh
Due: backend-updated

feat: update optimism deployment config
  deployments/config/local/901-optimism.json
  deployments/config/local/rpc.json
  scripts/deployment/optimism-local-template.json
Due: backend-updated

chore: remove optimism submodule
  .gitmodules
Due: none

deps: add base and polygon-zkevm plugins
  poetry.lock
  pyproject.toml
Due: backend-updated

chore: update ape-config.yaml for new plugins
  ape-config.yaml
Due: backend-updated

fix: change env variable name on circleci to avoid ape import problem
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

docs: add info on how to publish the npm package
  docs/source/releasing.rst
Due: docs-updated

relayer: use chain state for withdrawal checks
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: check if a message has already been relayed
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: set constant gas limit for `finalizeMessage`
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: add fallback relay via OP CDMessenger
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: remove useless try/catch
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: use dynamic fees
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: document OP relayer
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

release: v2.2.0
  CHANGELOG.md
  pyproject.toml
Due: backend-updated

Bump npm deployments package version to 2.0.1
  deployments-npm-package/package.json
Due: deployment-package-json-updated

relayer: use static 3M gasLimit for OP relays
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: extend JsonRpcProvider implementation
  relayer/src/ethers/json-rpc-provider.ts
  relayer/src/services/types.ts
Due: relayer-updated

.circleci: add missing test directory
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

relayer: test ExtendedJsonRpcProvider
  relayer/tests/unit/ethers/json-rpc-provider.spec.ts
Due: relayer-updated

npm: use generate script for goerli artifacts
  deployments-npm-package/scripts/create-package.sh
Due: none
