Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

subgraph: initial subgraph for l2 contracts
  subgraph/l2/abis/FillManager.json
  subgraph/l2/abis/RequestManager.json
  subgraph/l2/generated/FillManager/FillManager.ts
  subgraph/l2/generated/RequestManager/RequestManager.ts
  subgraph/l2/generated/schema.ts
  subgraph/l2/networks.json
  subgraph/l2/package.json
  subgraph/l2/schema.graphql
  subgraph/l2/src/fill-manager.ts
  subgraph/l2/src/request-manager.ts
  subgraph/l2/subgraph.yaml
  subgraph/l2/tests/fill-manager-utils.ts
  subgraph/l2/tests/fill-manager.test.ts
  subgraph/l2/tests/request-manager-utils.ts
  subgraph/l2/tests/request-manager.test.ts
  subgraph/l2/tsconfig.json
  subgraph/l2/yarn.lock
Due: subgraph-updated

subgraph: withdraw expired tx was not handled
  subgraph/src/mappings/request-manager.ts
  subgraph/src/utils/constants.ts
Due: subgraph-updated

subgraph: address nitpicks in review
  subgraph/src/mappings/fill-manager.ts
  subgraph/src/mappings/request-manager.ts
Due: subgraph-updated

subgraph: handle ClaimStakeWithdrawn
  subgraph/generated/schema.ts
  subgraph/schema.graphql
  subgraph/src/mappings/request-manager.ts
  subgraph/subgraph.yaml
Due: subgraph-updated

subgraph: add scripts for each supported chain
  subgraph/package.json
Due: subgraph-updated

beamer: tests: add tests for `deploy` and `deploy-base` commands
  beamer/tests/deploy/test_deploy.py
Due: backend-updated

beamer: tests: fix type
  beamer/tests/check/test_challenges.py
Due: backend-updated

subgraph: update contract addresses for v3
  subgraph/networks.json
Due: subgraph-updated

Release v3.0.1
  CHANGELOG.md
  pyproject.toml
Due: backend-updated

docs: add reference docs for `deploy-base` and `deploy` commands
  docs/source/reference.rst
Due: docs-updated

docs: development: explain how to do a full and partial deployment
  docs/source/development.rst
Due: docs-updated

frontend: remove banner
  frontend/src/App.vue
Due: frontend-updated

frontend: add disable bridging option
  frontend/.env.production
  frontend/src/App.vue
Due: frontend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/artifacts/.*)) or (any of: .circleci/.*)
  deployment-artifacts-updated: (any of: deployments/artifacts/.*) or (any of: deployments-npm-package/scripts/create-package.sh)
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
