Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            Makefile backend-updated true
            ape-config.yaml backend-updated true
            poetry.lock backend-updated true
            pyproject.toml backend-updated true
            beamer/.* backend-updated true
            contracts/.* backend-updated true
            docker/.* backend-updated true
            scripts/.* backend-updated true
            relayer/.* relayer-updated true
            docs/.* docs-updated true
            deployments/mainnet/deployment.json docs-updated true
            deployments/artifacts/.* deployment-artifacts-updated true
            deployments-npm-package/package.json deployment-package-json-updated true
            frontend/.* frontend-updated true
            subgraph/.* subgraph-updated true
            .circleci/.* frontend-updated true             
            .circleci/.* backend-updated true              
            .circleci/.* docs-updated true                 
            .circleci/.* subgraph-updated true
            .circleci/.* relayer-updated true

relayer: fix broken pkg builds
  relayer/src/cli.ts
  relayer/src/cli/commands/prove-op-message.ts
  relayer/src/cli/commands/relay.ts
  relayer/src/cli/programs/prove-op-message.ts
  relayer/src/cli/programs/relay.ts
  relayer/src/cli/types.ts
  relayer/tests/unit/relayer-program.spec.ts
Due: relayer-updated

relayer: restructure to support subcommands
  relayer/package.json
  relayer/src/cli.ts
  relayer/src/cli/commands/relay.ts
  relayer/src/cli/programs/relay.ts
  relayer/src/services/index.ts
  relayer/src/services/relayer/arbitrum.ts
  relayer/src/services/relayer/boba.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/relayer/index.ts
  relayer/src/services/relayer/map.ts
  relayer/src/services/relayer/optimism.ts
  relayer/src/services/relayer/polygon-zkevm.ts
  relayer/src/services/types.ts
  relayer/tests/unit/map.spec.ts
  relayer/tests/unit/relayer-program.spec.ts
Due: relayer-updated

docker: use relayer subcommand
  docker/scripts/common.sh
Due: backend-updated

relayer: upgrade optimism sdk to v2
  relayer/package.json
  relayer/yarn.lock
Due: relayer-updated

relayer: add missing tests
  relayer/src/cli/programs/prove-op-message.ts
  relayer/tests/unit/cli/programs/prove-op-message.spec.ts
  relayer/tests/unit/cli/programs/relay.spec.ts
Due: relayer-updated

relayer: wait for transactions
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: add message proving functionality
  relayer/src/cli.ts
  relayer/src/cli/commands/prove-op-message.ts
  relayer/src/cli/programs/prove-op-message.ts
  relayer/src/cli/programs/relay.ts
  relayer/src/services/relayer/arbitrum.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/relayer/optimism.ts
  relayer/src/services/relayer/polygon-zkevm.ts
  relayer/src/services/types.ts
Due: relayer-updated

relayer: fix tests
  relayer/tests/unit/map.spec.ts
  relayer/tests/unit/relayer-program.spec.ts
Due: relayer-updated

relayer: use bedrock optimism
  relayer/src/services/optimism.ts
Due: relayer-updated

docker: use new prove-op-message subcommand
  docker/optimism/optimism.sh
  docker/scripts/common.sh
Due: backend-updated

makefile: update relayer build command
  Makefile
Due: backend-updated

.circleci: disable OP E2E tests
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

try fixing flaky arbitrum e2e
  relayer/src/services/arbitrum.ts
Due: relayer-updated

log messages
  relayer/src/services/arbitrum.ts
Due: relayer-updated

frontend: disable autoselect when option is disabled
  frontend/src/components/RequestSourceInputs.vue
Due: frontend-updated

frontend: add 'disabled' property to chain metas
  frontend/config/chains/10.json
  frontend/config/chains/chain.ts
  frontend/config/schema.ts
Due: frontend-updated

frontend: add option disable functionality
  frontend/src/components/OptionDisabledTooltip.vue
  frontend/src/components/inputs/Selector.vue
  frontend/src/composables/useChainSelection.ts
  frontend/src/types/data.ts
  frontend/src/types/form.ts
  frontend/tests/unit/components/OptionDisabledTooltip.spec.ts
  frontend/tests/unit/components/inputs/Selector.spec.ts
  frontend/tests/unit/composables/useChainSelection.spec.ts
  frontend/tests/utils/data_generators.ts
Due: frontend-updated

try fixing flaky arbitrum e2e
  relayer/src/services/relayer/arbitrum.ts
Due: relayer-updated

chore: remove optimism submodule
  .gitmodules
Due: none

feat: update optimism deployment config
  deployments/config/local/901-optimism.json
  deployments/config/local/rpc.json
  scripts/deployment/optimism-local-template.json
Due: backend-updated

e2e: change optimism script
  .dockerignore
  docker/optimism/Dockerfile
  docker/optimism/optimism.sh
  docker/scripts/common.sh
Due: backend-updated

circleci: update circleci for optimism bedrock
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

relayer: change local chain id for optimism
  relayer/src/services/relayer/map.ts
Due: relayer-updated

agent: change local chain id of OP
  beamer/agent/chain.py
  beamer/tests/agent/unit/test_challenge.py
Due: backend-updated

relayer: calculate gas limit for OP relays
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: remove custom network for op
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated
