Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

relayer: add basic README.md
  relayer/README.md
Due: relayer-updated

docs: document relayer commands
  docs/source/index.rst
  docs/source/relayer.rst
Due: docs-updated

docs: fix new-line rendering
  docs/source/whitepaper.rst
Due: docs-updated

deps: add sphinx-icon for docs
  poetry.lock
  pyproject.toml
Due: backend-updated

docs: ignore contract addresses page
  .gitignore
Due: none

docs: reorganize docs
  docs/source/audit.rst
  docs/source/branching-strategy.rst
  docs/source/commands.rst
  docs/source/conf.py
  docs/source/contracts-api-reference.rst
  docs/source/contracts.rst
  docs/source/contributing.rst
  docs/source/deployment.rst
  docs/source/development.rst
  docs/source/faq.rst
  docs/source/glossary.rst
  docs/source/index.rst
  docs/source/l1_resolution.rst
  docs/source/protocol.rst
  docs/source/reference.rst
  docs/source/relayer.rst
  docs/source/releasing.rst
  docs/source/running-agent.rst
  docs/source/running.rst
  docs/source/whitepaper.rst
Due: docs-updated

scripts: fix header format for contract addresses
  scripts/generate-contract-addresses-doc-page.py
Due: backend-updated

beamer: check: allow context account to be None
  beamer/check/commands.py
Due: backend-updated

beamer: tests: add tests for the new 'check verify-challenges' command
  beamer/tests/check/test_challenges.py
Due: backend-updated

docs: reference: fix section markers
  docs/source/reference.rst
Due: docs-updated

docs: reference: make use of title case in major section titles
  docs/source/reference.rst
Due: docs-updated

beamer: check: add verify-challenges
  beamer/check/commands.py
Due: backend-updated

beamer: tests: introduce _prepare() to make it easier to write new tests
  beamer/tests/check/test_challenges.py
Due: backend-updated

docs: document the new 'check verify-challenges' command
  docs/source/reference.rst
Due: docs-updated

docs: remove trailing whitespace
  docs/source/contracts.rst
  docs/source/development.rst
  docs/source/index.rst
  docs/source/protocol.rst
  docs/source/reference.rst
  docs/source/running-agent.rst
Due: docs-updated

docs: reference: move relayer command reference to the relayer section
  docs/source/reference.rst
Due: docs-updated

subgraph: address nitpicks in review
  subgraph/src/mappings/fill-manager.ts
  subgraph/src/mappings/request-manager.ts
Due: subgraph-updated

docs: development: document how to run L1 invalidation and challenge checks
  docs/source/development.rst
Due: docs-updated

relayer: Wait until message has arrived on the destination RequestManager
  relayer/src/assets/abi/RequestManager.json
  relayer/src/cli/programs/relay.ts
  relayer/src/common/events/utils.ts
  relayer/src/services/types.ts
  relayer/tests/unit/cli/programs/relay.spec.ts
  relayer/tests/unit/common/events/utils.spec.ts
Due: relayer-updated

e2e tests: fix all tests to export the resolver address
  docker/base/base.sh
  docker/optimism/optimism.sh
  docker/polygon_zkevm/polygon_zkevm.sh
Due: backend-updated

subgraph: fix wrong contract address
  subgraph/networks.json
Due: subgraph-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/artifacts/.*)) or (any of: .circleci/.*)
  deployment-artifacts-updated: (any of: deployments/artifacts/.*) or (any of: deployments-npm-package/scripts/create-package.sh)
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
