Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            Makefile backend-updated true
            ape-config.yaml backend-updated true
            poetry.lock backend-updated true
            pyproject.toml backend-updated true
            beamer/.* backend-updated true
            contracts/.* backend-updated true
            docker/.* backend-updated true
            scripts/.* backend-updated true
            relayer/.* relayer-updated true
            docs/.* docs-updated true
            deployments/mainnet/deployment.json docs-updated true
            deployments/artifacts/.* deployment-artifacts-updated true
            deployments-npm-package/package.json deployment-package-json-updated true
            frontend/.* frontend-updated true
            subgraph/.* subgraph-updated true
            .circleci/.* frontend-updated true             
            .circleci/.* backend-updated true              
            .circleci/.* docs-updated true                 
            .circleci/.* subgraph-updated true
            .circleci/.* relayer-updated true

frontend: test provider external disconnect
  frontend/tests/unit/composables/useWallet.spec.ts
  frontend/tests/utils/mocks/ethereum-provider.ts
Due: frontend-updated

frontend: fix handling exception for unrecognized network
  frontend/src/services/web3-provider/walletconnect-provider.ts
Due: frontend-updated

frontend: implement proper coinbase disconnect
  frontend/src/services/web3-provider/coinbase-provider.ts
Due: frontend-updated

frontend: fix tests
  frontend/src/services/web3-provider/injected-provider.ts
  frontend/src/services/web3-provider/walletconnect-provider.ts
  frontend/tests/unit/composables/useWallet.spec.ts
Due: frontend-updated

frontend: remove old unused files
  frontend/tests/setup/window.ts
Due: frontend-updated

frontend: upgrade wallet connect sdk to `2.8.1`
  frontend/package.json
  frontend/yarn.lock
Due: frontend-updated

frontend: integrate wallet connect v2
  frontend/package.json
  frontend/src/components/WalletMenu.vue
  frontend/src/services/web3-provider/util-export.ts
  frontend/src/services/web3-provider/walletconnect-provider.ts
  frontend/tests/setup/window.ts
  frontend/tests/unit/services/web3-provider/walletconnect-provider.spec.ts
  frontend/tests/utils/mocks/ethereum-provider.ts
  frontend/vite.config.ts
  frontend/yarn.lock
Due: frontend-updated

frontend: update coinbase sdk to `3.7.1`
  frontend/package.json
Due: frontend-updated

frontend: envify wallet connect project id
  frontend/.env.development
  frontend/.env.production
  frontend/.env.staging
  frontend/src/env.d.ts
  frontend/src/services/web3-provider/walletconnect-provider.ts
Due: frontend-updated

frontend: update WC packages
  frontend/package.json
  frontend/yarn.lock
Due: frontend-updated

Implement proper walletconnect disconnect
  frontend/package.json
  frontend/src/composables/useTransferRequest.ts
  frontend/src/composables/useWallet.ts
  frontend/src/services/web3-provider/coinbase-provider.ts
  frontend/src/services/web3-provider/ethereum-provider.ts
  frontend/src/services/web3-provider/injected-provider.ts
  frontend/src/services/web3-provider/metamask-provider.ts
  frontend/src/services/web3-provider/types.ts
  frontend/src/services/web3-provider/walletconnect-provider.ts
  frontend/tests/unit/services/web3-provider/ethereum-provider.spec.ts
  frontend/tests/utils/mocks/ethereum-provider.ts
  frontend/vite.config.ts
Due: frontend-updated

frontend: fix types
  frontend/src/services/web3-provider/ethereum-provider.ts
  frontend/src/services/web3-provider/metamask-provider.ts
  frontend/src/services/web3-provider/safe-provider.ts
  frontend/src/services/web3-provider/types.ts
Due: frontend-updated

frontend: update yarn.lock after merge conflicts
  frontend/yarn.lock
Due: frontend-updated

frontend: properly configure WC 2
  frontend/src/services/web3-provider/walletconnect-provider.ts
Due: frontend-updated

frontend: fix global is not defined issue
  frontend/src/services/web3-provider/walletconnect-provider.ts
Due: frontend-updated

scripts: add a new script to check pipeline status
  scripts/check-pipeline.py
Due: backend-updated

circleci: optimize ci workflows
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

deps: add dateutil types as dev dependency
  poetry.lock
  pyproject.toml
Due: backend-updated

relayer: wait until msg is ready for relaying
  relayer/src/services/relayer/optimism.ts
Due: relayer-updated

relayer: Add typescript compiler check to linting
  relayer/package.json
Due: relayer-updated

relayer: Enable strict mode of Typescript
  relayer/src/cli/programs/prove-op-message.ts
  relayer/src/cli/programs/relay.ts
  relayer/src/services/relayer/boba.ts
  relayer/src/services/relayer/ethereum.ts
  relayer/src/services/relayer/optimism.ts
  relayer/src/services/relayer/polygon-zkevm.ts
  relayer/tests/unit/ethers/json-rpc-provider.spec.ts
  relayer/tsconfig.json
Due: relayer-updated

fix: change fill/invalidation timestamp after prove for op
  beamer/agent/chain.py
  beamer/agent/models/claim.py
Due: backend-updated

release: v2.3.0
  CHANGELOG.md
  pyproject.toml
Due: backend-updated
