Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

relayer: extend JsonRpcProvider implementation
  relayer/src/ethers/json-rpc-provider.ts
  relayer/src/services/types.ts
Due: relayer-updated

npm: use generate script for goerli artifacts
  deployments-npm-package/scripts/create-package.sh
Due: none

relayer: update optimism sdk to `2.1.0`
  relayer/package.json
  relayer/yarn.lock
Due: relayer-updated

relayer: update arbitrum sdk to `3.1.4`
  relayer/package.json
  relayer/yarn.lock
Due: relayer-updated

.circleci: update container image workflow deps
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

frontend: enable OP
  frontend/config/chains/10.json
Due: frontend-updated

relayer: fix e2e test not starting on mac M1
  docker/arbitrum/arbitrum.sh
Due: backend-updated

relayer: fix relayer e2e test not running on mac
  docker/optimism/optimism.sh
  docker/polygon_zkevm/polygon_zkevm.sh
  docker/scripts/common.sh
Due: backend-updated

relayer: fix flaky e2e test
  .circleci/workflows.yml
  docker/arbitrum/arbitrum.sh
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

relayer: circleCI fails docker compose down
  docker/arbitrum/arbitrum.sh
Due: backend-updated

relayer: use resolver block number per chain
  relayer/src/services/relayer/ethereum.ts
Due: relayer-updated

beamer: add contracts helper function
  beamer/contracts.py
Due: backend-updated

scripts: add utility scripts for op fallback e2e test
  scripts/_util.py
  scripts/call_contracts.py
  scripts/e2e-test-fill.py
  scripts/e2e-test-op-commands.py
Due: backend-updated

e2e: add new op relayer fallback test
  docker/optimism/optimism.sh
Due: backend-updated

circleci: add new op e2e relayer fallback test
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

chore: bump version to 2.2.1
  CHANGELOG.md
  pyproject.toml
Due: backend-updated

agent: adapt to use new deployment artifacts
  beamer/agent/commands.py
  beamer/agent/config.py
  beamer/contracts.py
  beamer/health/check.py
Due: backend-updated

e2e: adapt ethereum e2e test to use new deployment artifacts
  deployments/config/local/1337-ethereum.json
  deployments/config/local/rpc.json
  docker/ethereum/ethereum.sh
  docker/scripts/common.sh
  scripts/e2e-test-fill.py
  scripts/e2e-test-verify.py
Due: backend-updated

circleci: disable arbitrum submodule as not used
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

tests: adapt to use new deployment artifacts
  beamer/tests/agent/multiple_processors/test_multiple_event_processors.py
  beamer/tests/agent/test_cli.py
  beamer/tests/config/util.py
Due: backend-updated

e2e: adapt polygon zkevm e2e test to use new deployment artifacts
  deployments/config/local/1001-polygon-zkevm.json
  docker/polygon_zkevm/polygon_zkevm.sh
Due: backend-updated

e2e: adapt arbitrum e2e test to use new deployment artifacts
  .gitmodules
  deployments/config/local/412346-arbitrum.json
  docker/arbitrum/arbitrum.sh
Due: backend-updated

frontend: Allow Matomo cookie inside iframe
  frontend/index.html
Due: frontend-updated

e2e: adapt optimism e2e test to use new deployment artifacts
  deployments/config/local/901-optimism.json
  docker/optimism/optimism.sh
  scripts/e2e-test-op-commands.py
Due: backend-updated

feat: remove old deployments config and files
  deployments/goerli/ArbitrumL1Messenger.json
  deployments/goerli/ArbitrumL2Messenger.json
  deployments/goerli/EthereumL1Messenger.json
  deployments/goerli/EthereumL2Messenger.json
  deployments/goerli/FillManager.json
  deployments/goerli/MintableToken.json
  deployments/goerli/OptimismL1Messenger.json
  deployments/goerli/OptimismL2Messenger.json
  deployments/goerli/PolygonZkEVMMessenger.json
  deployments/goerli/RequestManager.json
  deployments/goerli/Resolver.json
  deployments/goerli/deployment.json
  deployments/mainnet/ArbitrumL1Messenger.json
  deployments/mainnet/ArbitrumL2Messenger.json
  deployments/mainnet/EthereumL1Messenger.json
  deployments/mainnet/EthereumL2Messenger.json
  deployments/mainnet/FillManager.json
  deployments/mainnet/OptimismL1Messenger.json
  deployments/mainnet/OptimismL2Messenger.json
  deployments/mainnet/RequestManager.json
  deployments/mainnet/Resolver.json
  deployments/mainnet/deployment.json
  scripts/deployment/arbitrum-local-template.json
  scripts/deployment/config.py
  scripts/deployment/ethereum-local.json
  scripts/deployment/ganache-local.json
  scripts/deployment/goerli-testnets.json
  scripts/deployment/main.py
  scripts/deployment/mainnet.json
  scripts/deployment/optimism-local-template.json
  scripts/deployment/polygon-zkevm-local-template.json
Due: backend-updated, docs-updated

docs: update docs for new deployment artifacts
  docs/source/commands.rst
  docs/source/configuration.rst
  docs/source/contributing.rst
  docs/source/running.rst
Due: docs-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
