Repository beamer-bridge/beamer: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-updated, relayer-updated, docs-updated, deployment-artifacts-updated, deployment-package-json-updated, frontend-updated, subgraph-updated

frontend: add base network
  frontend/config/chains/8453.json
Due: frontend-updated

pyproject.toml: use our fork of ape, that has v0.6.15 with a fix for evm-trace version pinning
  poetry.lock
  pyproject.toml
Due: backend-updated

beamer: tests: util: silence mypy
  beamer/tests/util.py
Due: backend-updated

beamer: middleware: convert JSON quantities to ints
  beamer/middleware.py
Due: backend-updated

beamer: middleware: fix cache_get_block_by_number
  beamer/middleware.py
Due: backend-updated

release: v2.5.0
  CHANGELOG.md
  pyproject.toml
Due: backend-updated

frontend: change banner text
  frontend/src/components/layout/Banner.vue
Due: frontend-updated

scripts: add base and pgn support for generating docs addresses
  scripts/generate-contract-addresses-doc-page.py
Due: backend-updated

deployment: Add PGN and base deployments
  beamer/chains.py
  deployments/artifacts/mainnet/424-public-goods-network.deployment.json
  deployments/artifacts/mainnet/8453-base.deployment.json
  deployments/config/mainnet/424-public-goods-network.json
  deployments/config/mainnet/8453-base.json
Due: backend-updated, deployment-artifacts-updated

scripts: generate-contract-addresses-doc-page: use anonymous RST references
  scripts/generate-contract-addresses-doc-page.py
Due: backend-updated

pyproject.toml: switch back to upstream ape, which has released 0.6.15
  poetry.lock
  pyproject.toml
Due: backend-updated

Release v2.5.1
  CHANGELOG.md
Due: none

.circleci: add a way to manually trigger container image publishing
  .circleci/config.yml
  .circleci/workflows.yml
Due: backend-updated, relayer-updated, docs-updated, frontend-updated, subgraph-updated

Release v2.5.1
  CHANGELOG.md
  pyproject.toml
Due: backend-updated

deployments: publish version 2.0.3
  deployments-npm-package/package.json
Due: deployment-package-json-updated

beamer: agent: emit a log entry when OP prove is successful, too
  beamer/agent/chain.py
Due: backend-updated

beamer: agent: take the fill mutex before doing anything else when filling
  beamer/agent/chain.py
Due: backend-updated

frontend: increase validity period
  frontend/.env.production
Due: frontend-updated

frontend: switch to differernt rpc for zkevm
  frontend/config/chains/1101.json
Due: frontend-updated

beamer: tests: correctly check for active state
  beamer/tests/agent/unit/test_handlers.py
Due: backend-updated

beamer: tests: remove broken test_fill_request_transaction_status
  beamer/tests/agent/unit/test_handlers.py
Due: backend-updated

Release v2.5.2
  CHANGELOG.md
  pyproject.toml
Due: backend-updated

Path conditions:
  backend-updated: ((((((((any of: Makefile) or (any of: ape-config.yaml)) or (any of: poetry.lock)) or (any of: pyproject.toml)) or (any of: beamer/.*)) or (any of: contracts/.*)) or (any of: docker/.*)) or (any of: scripts/.*)) or (any of: .circleci/.*)
  relayer-updated: (any of: relayer/.*) or (any of: .circleci/.*)
  docs-updated: ((any of: docs/.*) or (any of: deployments/mainnet/deployment.json)) or (any of: .circleci/.*)
  deployment-artifacts-updated: any of: deployments/artifacts/.*
  deployment-package-json-updated: any of: deployments-npm-package/package.json
  frontend-updated: (any of: frontend/.*) or (any of: .circleci/.*)
  subgraph-updated: (any of: subgraph/.*) or (any of: .circleci/.*)
